.photo-grid {
    margin: 0 auto 0;
    padding: 92px 0 92px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 213px;
    gap: 16px 16px;
    list-style-type: none;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
            max-width: 928px;
            grid-template-columns: repeat(3, 1fr);
            gap: 14px;
            grid-auto-rows: 225px;
        }
}
@media screen and (max-width: 768px) {
    .photo-grid {
            padding: 88px 0 90px;
            max-width: 720px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 264px;
            gap: 16px 16px;
        }
}
@media screen and (max-width: 748px) {
    .photo-grid {
            padding: 63px 0 66px;
            max-width: 288px;
            grid-template-columns: 1fr;
            grid-auto-rows: 216px;
            gap: 12px;
        }
}