.places {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    padding-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .places {
            row-gap: 75.5px;
            padding-bottom: 89px;
        }
}

@media screen and (max-width: 320px) {
    .places {
            row-gap: 53px;
            padding-bottom: 66px;
        }
}