@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Black.ttf) format("truetype");
    font-weight: 900;
}

.pages {
    background: rgba(42, 44, 47, 1);
    font-family: "Inter", sans-serif, serif;
}

.menu {
    padding-left: 0;
    padding-top: 28px;
    margin: 0 auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__logo {
    max-height: 52px;
}

.menu__links {
    padding-bottom: 4px;
    margin: 0;
    display: flex;
    flex-direction: row;
    column-gap: 18PX;
    align-items: end;
}

.menu__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.menu__link_active {
    border-bottom: 1px rgba(255, 255, 255, 1) solid;
}

.lead {
    padding-top: 54px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    text-align: center;
    row-gap: 0;
}

.lead__title {
    line-height: 100px;
    font-weight: 900;
    font-size: 96px;
    color: #FFFFFF;
    max-width: 720px;
    margin: 0;
}

.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    max-width: 640px;
    margin: 0;
    color: #FFFFFF;
    padding: 35px 0 64px;
}

.lead__quote {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
    letter-spacing: 1.5px;
}

.intro {
    padding-top: 83px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 984px;
    text-align: left;
    row-gap: 0;
}

.intro__title {
    max-width: 690px;
    margin: 0;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    padding: 40px 0 33px;
    max-width: 690px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.intro__list {
    max-width: 690px;
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.photo-grid {
    margin: 0 auto 0;
    padding: 92px 0 92px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid__image {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
}

.places {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    padding-bottom: 92px;
}

.place {
    margin: 0 auto 0;
    max-width: 984px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 3fr;
    column-gap: 20px;
    row-gap: 48px;
}

.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    align-self: end;
}

.place-website {
    justify-self: start;
    align-self: end;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.place-website__url-heading {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.place-website__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place-website__link:hover {
    opacity: 0.8;
}

.place__image {
    width: 100%;
}

.place-paragraph-case {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.place-paragraph-case__text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.cover {
    margin: 0 auto 0;
    max-width: 1184px;
    min-height: 740px;
    background-image: url("./images/__background.png");
    background-repeat: no-repeat;
}

.cover__overlay {
    width: 100%;
    height: 740px;
    background-color: rgba(42, 44, 47, 0.3);
    display: flex;
    flex-direction: column;
    column-gap: 0;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
    transition: 1s;
}

.cover__title {
    text-decoration: none;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
}

.cover__subtitle {
    margin: 0;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.footer {
    margin: 0 auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 92px
}

.footer__links {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 18px;
}

.footer__link {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__copyright {
    align-self: center;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .menu {
        max-width: 928px;
    }

    .lead {
        padding-top: 54px;
        margin: 0 auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 928px;
        text-align: center;
        row-gap: 0;
    }

    .lead__image {
        max-width: 928px;
    }

    .intro {
        max-width: 928px;
    }

    .photo-grid {
        max-width: 928px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;

    }

    .place {
        max-width: 928px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 3fr;
        column-gap: 32px;
        row-gap: 48px;
    }

    .cover {
        margin: 0 auto 0;
        max-width: 1024px;
        min-height: 640px;
        background-image: url("./images/__background.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .cover__overlay {
        width: 100%;
        height: 640px;
    }

    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        max-width: 720px;
    }

    .lead {
        padding-top: 54px;
        margin: 0 auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 768px;
        text-align: center;
        row-gap: 0;
    }

    .lead__image {
        max-width: 768px;
    }

    .lead__quote {
        padding-left: 24px;
    }

    .intro {
        max-width: 720px;
    }

    .intro__title {
        max-width: 720px;
    }

    .intro__text {
        max-width: 720px;
    }

    .intro__list {
        max-width: 720px;
    }

    .photo-grid {
        padding: 88px 0 88px;
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;

    }

    .place {
        max-width: 720px;
        column-gap: 28px;
        row-gap: 48px;
    }

    .place-paragraph-case__text {
        font-size: 16px;
    }

    .cover {
        margin: 0 auto 0;
        max-width: 1024px;
        min-height: 480px;
        background-image: url("./images/__background.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .cover__overlay {
        width: 100%;
        max-height: 480px;
    }

    .footer {
        max-width: 720px;
        padding-top: 88px
    }
}

@media screen and (max-width: 320px) {
    .menu {
        width: 288px;
    }

    .menu__links {
        padding: 0;
    }

    .menu__link {
        font-size: 18px;
        line-height: 20px;
    }

    .lead {
        padding-top: 48px;
        margin: 0 auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 320px;
        text-align: center;
        row-gap: 0;
    }

    .lead__title {
        width: 100%;
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        padding: 16px 0 40px;
        font-size: 16px;
        line-height: 20px;
    }

    .lead__image {
        width: 100%;
    }

    .lead__quote {
        padding-left: 16px;
        font-size: 10px;
        line-height: 14px;
    }

    .intro {
        max-width: 288px;
        padding-top: 64px;
    }

    .intro__title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }

    .intro__text {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }

    .intro__list {
        width: 100%;
        font-size: 12px;
        line-height: 18px;
    }

    .photo-grid {
        padding: 88px 0 88px;
        max-width: 288px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        gap: 16px;
    }

    .places {
        row-gap: 50px;
        padding-bottom: 66px;
    }

    .place {
        margin: 0 auto 0;
        max-width: 320px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        row-gap: 32px;
    }

    .place__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 0;
    }

    .place-website {
        width: 288px;
        margin: 0 auto 0;
    }

    .place-website__url-heading {
        font-size: 12px;
        line-height: 12px;
    }

    .place-website__link {

        font-size: 18px;
        line-height: 22px;
    }

    .place__image {
        width: 320px;
    }

    .place-paragraph-case {
        width: 288px;
        margin: 0 auto 0;
    }

    .place-paragraph-case__text {
        font-size: 16px;
        line-height: 26px;
    }

    .cover {
        margin: 0 auto 0;
        max-width: 320px;
        min-height: 200px;
        background-image: url("./images/__background.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .cover__overlay {
        width: 100%;
        max-height: 200px;
        row-gap: 16px;
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .footer {
        margin: 0 auto 0;
        max-width: 288px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 64px;
        row-gap: 48px;
    }

    .footer__links {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 32px;
    }

    .footer__link {
        margin: 0;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__copyright {
        align-self: start;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
    }
}