@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Black.ttf) format("truetype");
    font-weight: 900;
}

.pages {
    background: rgba(42, 44, 47, 1);
    font-family: "Inter", sans-serif, serif;
}

.menu {
    padding-left: 0;
    padding-top: 28px;
    margin: 0 auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__logo {
    max-height: 52px;
}

.menu__links {
    padding-bottom: 4px;
    margin: 0;
    display: flex;
    flex-direction: row;
    column-gap: 18PX;
    align-items: end;
}

.menu__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.menu__link_active {
    border-bottom: 1px rgba(255, 255, 255, 1) solid;
}

.lead {
    padding-top: 54px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    text-align: center;
    row-gap: 0;
}

.lead__title {
    line-height: 100px;
    font-weight: 900;
    font-size: 96px;
    color: #FFFFFF;
    max-width: 720px;
    margin: 0;
}

.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    max-width: 640px;
    margin: 0;
    color: #FFFFFF;
    padding: 35px 0 64px;
}

.lead__quote {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
    letter-spacing: 1.5px;
}

.intro {
    padding-top: 83px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 984px;
    text-align: left;
    row-gap: 0;
}

.intro__title {
    max-width: 690px;
    margin: 0;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    padding: 40px 0 33px;
    max-width: 690px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.intro__list {
    max-width: 690px;
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.photo-grid {
    margin: 0 auto 0;
    padding: 92px 0 92px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.photo-grid__image {
    margin: 0;
    padding: 0;
}

.places {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    padding-bottom: 92px;
}

.place {
    margin: 0 auto 0;
    max-width: 984px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 3fr;
    column-gap: 20px;
    row-gap: 48px;
}

.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    align-self: end;
}

.place-website {
    justify-self: start;
    align-self: end;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.place-website__url-heading {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.place-website__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place-website__link:hover {
    opacity: 0.8;
}

.place-paragraph-case {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.place-paragraph-case__text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.cover {
    margin: 0 auto 0;
    max-width: 1184px;
    min-height: 740px;
    background-image: url("./images/__background.png");
    background-repeat: no-repeat;
}

.cover__overlay {
    width: 100%;
    height: 740px;
    background-color: rgba(42, 44, 47, 0.3);
    display: flex;
    flex-direction: column;
    column-gap: 0;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
    transition: 1s;
}

.cover__title {
    text-decoration: none;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
}

.cover__subtitle {
    margin: 0;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.footer {
    margin: 0 auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 92px
}

.footer__links {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 18px;
}

.footer__link {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__copyright {
    align-self: center;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}