.lead__title {
    line-height: 100px;
    font-weight: 900;
    font-size: 96px;
    color: #FFFFFF;
    max-width: 720px;
    margin: 0;
}

@media screen and (max-width: 676px) {
    .lead__title {
            max-width: 100%;
            font-size: 40px;
            line-height: 44px;

        }
}
