.menu__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.menu__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .menu__link {
            font-size: 18px;
            line-height: 20px;
        }
}