.intro__text {
    padding: 40px 0 33px;
    max-width: 690px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .intro__text {
            max-width: 720px;
        }
}
@media screen and (max-width: 320px) {
    .intro__text {
            padding-bottom: 35px;
            width: 100%;
        }
}