.intro {
    padding-top: 91px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    max-width: 984px;
    text-align: left;
    row-gap: 0;
}
@media screen and (max-width: 1024px) {
    .intro {
            max-width: 928px;
            padding-top: 93px;
        }
}
@media screen and (max-width: 768px) {
    .intro {
            padding-top: 89px;
            max-width: 720px;
        }
}
@media screen and (max-width: 320px) {
    .intro {
            max-width: 288px;
            padding-top: 64px;
        }
}