.cover {
    margin: 0 auto 0;
    max-width: 1184px;
    min-height: 740px;
    background-image: url("../../images/__background.png");
    background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
    .cover {
            margin: 0 auto 0;
            max-width: 1024px;
            min-height: 640px;
            background-image: url("../../images/__background.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
}
@media screen and (max-width: 768px) {
    .cover {
            margin: 0 auto 0;
            max-width: 1024px;
            min-height: 480px;
            background-image: url("../../images/__background.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
}
@media screen and (max-width: 320px) {
    .cover {
            margin: 0 auto 0;
            max-width: 320px;
            min-height: 200px;
            background-image: url("../../images/__background.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
}