.cover__overlay {
    width: 100%;
    min-height: 740px;
    background-color: rgba(42, 44, 47, 0.3);
    display: flex;
    flex-direction: column;
    column-gap: 0;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    text-decoration: none;
}
.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
    transition: 1s;
}
@media screen and (max-width: 1024px) {
    .cover__overlay {
            min-height: 640px;
        }
}
@media screen and (max-width: 768px) {
    .cover__overlay {
            min-height: 480px;
        }
}

@media screen and (max-width: 360px) {
    .cover__overlay {
            min-height: 200px;
            row-gap: 16px;
        }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
            min-height: 200px;
            row-gap: 16px;
        }
}