.footer {
    margin: 0 auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 92px;
}
@media screen and (max-width: 1024px) {
    .footer {
            max-width: 928px;
        }
}
@media screen and (max-width: 768px) {
    .footer {
            max-width: 720px;
            padding-top: 88px
        }
}
@media screen and (max-width: 320px) {
    .footer {
            margin: 0 auto 0;
            max-width: 288px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 64px;
            row-gap: 48px;
        }
}