.footer {
    margin: 0 auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
    padding-top: 92px;
    padding-bottom: 24px;
}
@media screen and (max-width: 1214px) {
    .footer {
            max-width: 928px;
        }
}
@media screen and (max-width: 940px) {
    .footer {
            padding-top: 70px;
            max-width: 720px;
        }
}

@media screen and (max-width: 768px) {
    .footer {
            padding-top: 88px;
        }
}

@media screen and (max-width: 726px) {
    .footer {
            max-width: 288px;
            flex-direction: column;
            padding-top: 64px;
            row-gap: 48px;
        }
}