.place__paragraph-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
    .place__paragraph-text {
            max-width: 456px;
        }
}

@media screen and (max-width: 768px) {
    .place__paragraph-text {
            font-size: 16px;
            line-height: 26px;
        }
}
@media screen and (max-width: 320px) {
    .place__paragraph-text {
            line-height: 26px;
        }
}