.place__websites {
    justify-self: start;
    align-self: end;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

@media screen and (max-width: 320px) {
    .place__websites {
            min-width: 288px;
            margin: 0 auto 0;
        }
}