.intro__title {
    max-width: 690px;
    margin: 0;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}
@media screen and (max-width: 768px) {
    .intro__title {
            max-width: 720px;
        }
}
@media screen and (max-width: 320px) {
    .intro__title {
            width: 100%;
            font-size: 32px;
            line-height: 35px;
        }
}