.menu {
    padding-bottom: 8px;
    margin: 0;
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    align-items: end;
    list-style-type: none;
}
@media screen and (max-width: 320px) {
    .menu {
            padding: 0;
        }
}